/* nav bar */

@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');
ul.sidenav {
    list-style-type: none;
    width: auto;
    padding: 1px;
    display: flex;
}

ul.sidenav li a {
    float: left;
    color: #000;
    padding: 20px;
    font-family: "Bungee", cursive;
    font-size: 1.15rem;
}

ul.sidenav li a:hover {
    transition: 0.39s;
    color: lightblue;
}

@media screen and (max-width: 768px) {
    ul.sidenav {
        list-style-type: none;
        margin: 1px;
        width: auto;
        padding: 1px;
        background-color: #f1f1f1;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}